body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.rutenett {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    
}


    
.boksA {
    background-color: mediumblue;
    color: black;
    border: 1px solid;
    padding: 20px;
    font-size: 150%;
}

.boksB {
    background-color: red;
    color: black;
    border: 1px solid;
    padding: 20px;
    font-size: 150%;
}